 .u-section-1 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
  min-height: 756px;
}

.u-section-1 .u-image-1 {
  width: 1243px;
  height: 655px;
  margin: 83px auto 18px calc(((100% - 1140px) / 2) + -52px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 495px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 379px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 252px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 284px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-1 {
    height: 230px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin: -23px -16px 0;
  padding: 25px 226px 25px 224px;
}

.u-section-2 .u-image-1 {
  height: 79px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 39px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 9px 19px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 606px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-left: -38px;
    margin-right: -38px;
    padding-right: 65px;
    padding-left: 64px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 552px;
  margin-top: 75px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-3 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-3 .u-gallery-1 {
    height: 784px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2977px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2107px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 675px;
}

.u-section-4 .u-list-1 {
  width: 570px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 501px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 458px 0 10px;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  margin: -61px 0 0 147px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px 0 0 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0 458px 0 10px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  margin: -61px 0 0 147px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 0 0 10px;
}

.u-section-4 .u-image-1 {
  width: 565px;
  height: 376px;
  margin: -515px -13px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 156px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 156px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 589px;
    height: 517px;
    margin-top: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 36px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 142px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 36px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -50px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 151px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 151px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 38px;
    margin-right: 137px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -9px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: -3px -11px -58px 11px;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: 38px;
    margin-right: 137px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -9px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin: -3px -11px -58px 11px;
  }

  .u-section-4 .u-image-1 {
    height: 298px;
    margin-top: 53px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px auto 0 0;
}

.u-section-5 .u-video-1 {
  min-height: 666px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0 -43px 0 43px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px auto 20px 0;
  padding: 25px 245px 25px 244px;
}

.u-section-5 .u-image-1 {
  width: 427px;
  height: 28px;
  margin: 7px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-video-1 {
    min-height: 549px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 549px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-video-1 {
    min-height: 421px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-video-1 {
    min-height: 632px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    width: 452px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 694px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-5 .u-video-1 {
    min-height: 398px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 280px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    padding-right: 19px;
    padding-left: 18px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1578px;
}

.u-section-6 .u-image-1 {
  width: 864px;
  height: 490px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 20px 194px 0 213px;
}

.u-section-6 .u-icon-1 {
  color: rgb(237, 138, 25) !important;
}

.u-section-6 .u-image-2 {
  width: 882px;
  height: 490px;
  margin: 20px 120px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 882px;
  height: 502px;
  margin: 0 120px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 305px;
    margin-left: 113px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 58px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 409px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 234px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 400px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 720px;
    height: 410px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 307px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 300px;
  }

  .u-section-6 .u-image-3 {
    width: 540px;
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 193px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 11px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 189px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 194px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 751px;
}

.u-section-7 .u-image-1 {
  width: 485px;
  object-position: 50% 0%;
  height: 701px;
  margin: 40px auto 0 0;
}

.u-section-7 .u-text-1 {
  margin: -675px calc(((100% - 1140px) / 2) + -20px) 0 calc(((100% - 1140px) / 2) + 466px);
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(215, 90, 74) !important;
  margin: -326px calc(((100% - 1140px) / 2) + 293px) 0 auto;
}

.u-section-7 .u-custom-html-1 {
  margin: 30px calc(((100% - 1140px) / 2) + 293px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 732px;
    margin-top: 159px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-left: calc(((100% - 940px) / 2) + 366px);
  }

  .u-section-7 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 322px;
    height: 431px;
    margin-top: 466px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -20px);
    margin-left: calc(((100% - 720px) / 2) + 256px);
  }

  .u-section-7 .u-icon-1 {
    margin-right: calc(((100% - 720px) / 2) + 224px);
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 312px;
    margin-top: 440px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + -20px);
    margin-left: calc(((100% - 540px) / 2) + 166px);
  }

  .u-section-7 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 168px);
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 541px;
  }

  .u-section-7 .u-image-1 {
    height: 504px;
    margin-top: 571px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: -1025px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -1543px;
    margin-right: auto;
    margin-bottom: 1479px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 791px;
}

.u-section-8 .u-gallery-1 {
  height: 671px;
  margin-top: 60px;
  margin-bottom: -322px;
  grid-gap: 10px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-8 .u-gallery-1 {
    height: 609px;
    margin-bottom: -685px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1122px;
    margin-top: -389px;
    margin-bottom: -389px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2605px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2486px;
    margin-top: -250px;
    margin-bottom: -250px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1735px;
    margin-top: 60px;
    margin-bottom: -757px;
  }
} .u-section-9 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 100%;
}

.u-section-9 .u-sheet-1 {
  min-height: 588px;
}

.u-section-9 .u-group-1 {
  width: 901px;
  min-height: 468px;
  height: auto;
  margin: 85px auto 35px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: -16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-9 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-10 .u-list-1 {
  width: 459px;
  margin: 68px 0 0 auto;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 524px;
  grid-gap: 40px 40px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-10 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-10 .u-group-1 {
  min-height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: 22px 11px 0;
}

.u-section-10 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 30px auto 0;
  padding: 9px 81px 11px 80px;
}

.u-section-10 .u-image-1 {
  width: 437px;
  height: 55px;
  margin: 12px 15px 0 8px;
}

.u-section-10 .u-image-2 {
  width: 686px;
  height: 369px;
  margin: -466px auto 60px -15px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    width: 278px;
    height: 32px;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 291px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-10 .u-group-1 {
    min-height: 371px;
    margin-top: 9px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 3px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-10 .u-image-1 {
    width: 333px;
    height: 26px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    height: 183px;
    margin-top: -696px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 692px;
}

.u-section-11 .u-slider-1 {
  min-height: 479px;
  margin-top: 58px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-11 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-11 .u-carousel-item-1 {
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-11 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/CapturadeTela2022-09-12as18.44.09.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-11 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  width: 191px;
  margin: 28px auto 0;
}

.u-section-11 .u-carousel-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-11 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/cheerful-business-woman-make-winner-gesture.jpg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 242px 0 282px;
}

.u-section-11 .u-text-4 {
  width: 191px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-11 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  inset: auto -97px 0px auto;
  position: absolute;
  background-image: none;
}

.u-section-11 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  inset: auto -227px 0px auto;
  position: absolute;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 182px;
    margin-right: 142px;
    width: 311px;
  }

  .u-section-11 .u-carousel-control-1 {
    left: -85px;
    right: auto;
  }

  .u-section-11 .u-carousel-control-2 {
    left: auto;
    right: -80px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-11 .u-slider-1 {
    min-height: 441px;
  }

  .u-section-11 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-11 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 30px 60px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 72px;
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-11 .u-slider-1 {
    min-height: 467px;
    margin-top: 60px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-11 .u-slider-1 {
    min-height: 529px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 902px;
}

.u-section-12 .u-group-1 {
  min-height: 1450px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 32px 13px 0 29px;
}

.u-section-12 .u-image-1 {
  width: 753px;
  height: 473px;
  object-position: 50% 1.75%;
  margin: 29px auto 0 163px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-12 .u-text-1 {
    font-size: 2rem;
    font-weight: 900;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 452px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-12 .u-group-1 {
    min-height: 1238px;
    margin-top: 20px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 213px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 282px;
}

.u-section-13 .u-image-1 {
  height: 106px;
  object-position: 50% 11.57%;
  width: 226px;
  margin: 23px auto 0;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 27px -11px 23px auto;
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }
} .u-section-14 {
  background-image: url("images/CapturadeTela2022-10-29as15.58.09.png");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 256px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 1441px;
}

.u-section-15 .u-line-1 {
  width: 515px;
  transform-origin: right center 0px;
  margin: 58px 292px 0 auto;
}

.u-section-15 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 11px 0 0 14px;
}

.u-section-15 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.875rem;
  margin: 20px auto 55px;
  padding: 9px 194px 11px 193px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-line-1 {
    height: 0;
  }

  .u-section-15 .u-text-1 {
    width: 606px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-line-1 {
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-line-1 {
    margin-right: 25px;
  }

  .u-section-15 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1635px;
  }

  .u-section-15 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-15 .u-text-1 {
    width: auto;
    margin-top: 21px;
    font-size: 1.5rem;
  }

  .u-section-15 .u-btn-1 {
    font-size: 1.125rem;
    margin: 10px -21px;
    padding: 16px 0 17px;
  }
} .u-section-16 {
  min-height: 393px;
}

.u-section-16 .u-sheet-1 {
  min-height: 955px;
}

.u-section-16 .u-layout-wrap-1 {
  width: 1165px;
  margin: 0 auto 60px -25px;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-16 .u-container-layout-1 {
  padding: 0 53px;
}

.u-section-16 .u-text-1 {
  font-size: 1.875rem;
  margin: 32px 0 -167px;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-16 .u-container-layout-2 {
  padding: 15px 33px;
}

.u-section-16 .u-image-1 {
  height: 467px;
  width: 463px;
  margin: 225px auto -15px 0;
}

@media (max-width: 1199px) {
   .u-section-16 {
    min-height: 318px;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 583px;
    background-position: 50% 50%;
  }

  .u-section-16 .u-image-1 {
    height: 392px;
    width: 405px;
  }
}

@media (max-width: 991px) {
   .u-section-16 {
    min-height: 66px;
  }

  .u-section-16 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-image-1 {
    height: 303px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 671px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-16 {
    min-height: 393px;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-16 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-16 .u-image-1 {
    width: 330px;
    margin-top: 0;
    margin-right: -5px;
    margin-left: auto;
  }
} .u-section-17 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-17 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-17 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-17 .u-list-1 {
  margin-top: 104px;
  margin-bottom: 60px;
}

.u-section-17 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 758px;
  grid-gap: 20px;
}

.u-section-17 .u-list-item-1 {
  background-image: none;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px;
}

.u-section-17 .u-text-2 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-17 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(44,41,51,0.8), rgba(44,41,51,0.8)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
}

.u-section-17 .u-container-layout-2 {
  padding: 30px;
}

.u-section-17 .u-text-3 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-17 .u-list-item-3 {
  background-image: none;
}

.u-section-17 .u-container-layout-3 {
  padding: 30px;
}

.u-section-17 .u-text-4 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-17 .u-list-item-4 {
  background-image: none;
}

.u-section-17 .u-container-layout-4 {
  padding: 30px;
}

.u-section-17 .u-text-5 {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-17 .u-list-item-5 {
  background-image: none;
}

.u-section-17 .u-container-layout-5 {
  padding: 30px;
}

.u-section-17 .u-text-6 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-17 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(44,41,51,0.8), rgba(44,41,51,0.8)), url("images/wewe.jpg");
  background-position: 50% 50%;
}

.u-section-17 .u-container-layout-6 {
  padding: 30px;
}

.u-section-17 .u-text-7 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 22px auto 0;
}

.u-section-17 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-17 .u-list-item-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1097px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-17 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-17 .u-text-7 {
    font-size: 1.5rem;
  }
} .u-section-18 {
  min-height: 858px;
}

.u-section-18 .u-image-1 {
  height: 608px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-18 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 31px auto 0;
  padding: 25px 226px 25px 224px;
}

.u-section-18 .u-image-2 {
  width: 1116px;
  height: 75px;
  margin: 0 auto 18px;
}

@media (max-width: 1199px) {
   .u-section-18 {
    min-height: 846px;
  }

  .u-section-18 .u-image-2 {
    width: 429px;
    height: 36px;
  }
}

@media (max-width: 991px) {
   .u-section-18 {
    min-height: 831px;
  }
}

@media (max-width: 767px) {
   .u-section-18 {
    min-height: 819px;
  }
}

@media (max-width: 575px) {
   .u-section-18 {
    min-height: 391px;
  }

  .u-section-18 .u-image-1 {
    height: 215px;
    margin-top: 7px;
  }

  .u-section-18 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 19px;
    padding-right: 22px;
    padding-bottom: 26px;
    padding-left: 22px;
  }
}